.faq__list {
  @include reset-list;
}

.faq-list__item {
  position: relative;
  border-bottom: 1px solid #74819c;
  padding: 21px 0 19px;
  text-align: left;

  &:first-child {
    border-top: 1px solid #74819c;
    padding: 21px 0 20px;

    @media (min-width: $width-tablet) {
      padding: 26px 0 24px;
    }

    @media (min-width: $width-desktop) {
      padding: 22px 0 23px;
    }
  }

  @media (min-width: $width-tablet) {
    padding: 26px 0 24px;
  }

  @media (min-width: $width-desktop) {
    padding: 22px 0 23px;
  }
}

.faq-list__item > label {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 238px 30px;
  align-items: center;

  @include mobile-h5;

  @media (min-width: $width-tablet) {
    @include tablet-h5;

    grid-template-columns: 500px 40px;
  }

  @media (min-width: $width-desktop) {
    @include desktop-h5;

    grid-template-columns: 660px 40px;
  }
}

.faq-list__item > p {
  display: none;
  margin: 19px 0 0;

  @include mobile-text-l;

  @media (min-width: $width-tablet) {
    @include tablet-desktop-text-l;

    margin: 10px 0 0;
    width: 560px;
  }

  @media (min-width: $width-desktop) {
    margin: 23px 0 0;
    width: 660px;
  }
}

input:checked + span {
  cursor: pointer;
}

label {
  cursor: pointer;
}

// рисуем кнопку

.faq-list__item input {
  position: relative;
  appearance: none;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid $button-border-color-dark-extra;

  @media (min-width: $width-tablet) {
    height: 40px;
    width: 40px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid $background-color-dark-extra;
    width: 14px;
    height: 14px;
    top: 7px;
    left: 13.5px;
    transition: all 0.5s;

    @media (min-width: $width-tablet) {
      left: 18.5px;
      top: 9px;
      width: 20px;
      height: 20px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    border-bottom: 1px solid $background-color-dark-extra;
    width: 14px;
    height: 14px;
    top: 0.5px;
    left: 7px;
    transition: all 0.5s;

    @media (min-width: $width-tablet) {
      top: 0;
      left: 9.5px;
      width: 20px;
      height: 20px;
    }
  }
}

// наведение на надпись или кнопку

.faq-list__item label input:hover {
  background-color: $background-color-dark-extra;

  &::before {
    border-color: $button-border-color-light;
  }

  &::after {
    border-color: $button-border-color-light;
  }
}

.faq-list__item label input:focus {
  background-color: #74819c;

  &::before {
    border-color: $button-border-color-light;
  }

  &::after {
    border-color: $button-border-color-light;
  }
}

// открыто состояние кнопки

.faq-list__item label input:checked {
  background-color: $background-color-dark-extra;

  &::before {
    transform: rotate(180deg);
    border-left: none;
    top: 13px;
    left: 7px;
    border-bottom: 1px solid $button-border-color-light;

    @media (min-width: $width-tablet) {
      top: 19px;
      left: 9.5px;
    }
  }

  &::after {
    top: 0.5px;
    border-bottom: 1px solid $button-border-color-light;
  }
}

.faq-list__item label input:disabled {
  opacity: 0.3;
  pointer-events: none;
  background-color: transparent;

  &::before {
    border-color: $background-color-dark-extra;
    opacity: 0.3;
  }

  &::after {
    border-color: $background-color-dark-extra;
    opacity: 0.3;
  }
}
