.faq {
  padding: 70px 15px;
  background-color: $background-color-light-extra;

  @media (min-width: $width-tablet) {
    padding: 60px 45px;
  }

  @media (min-width: $width-desktop) {
    padding: 100px 103px;
  }
}

.faq__wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 0 auto;
  width: 290px;

  @media (min-width: $width-tablet) {
    gap: 45px;
    width: 678px;
  }

  @media (min-width: $width-desktop) {
    display: grid;
    grid-template-areas: "title title"
                          "buttons list";
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 260px 860px;
    row-gap: 49px;
    column-gap: 40px;
    width: 1160px;
  }
}

.faq__title {
  margin: 0;
  text-align: center;
  @include mobile-h3;

  @media (min-width: $width-tablet) {
    text-align: center;
    @include tablet-h3;
  }

  @media (min-width: $width-desktop) {
    grid-area: "title";
    grid-column: 1/3;
    text-align: left;
    @include desktop-h3;
  }
}

.faq__buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  @media (min-width: $width-tablet) {
    flex-direction: row;
  }

  @media (min-width: $width-desktop) {
    flex-direction: column;
    grid-area: "buttons";
  }
}

.faq__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
  }

  @media (min-width: $width-desktop) {
    grid-area: "list";
  }
}
