@font-face {
  font-family: "Alumni Sans";
  src: url("../fonts/AlumniSans-wght.woff2") format("woff2-variations");
  font-weight: 600 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-wght.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
