.jury {
  position: relative;
  padding: 40px 46px;
  width: 228px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    padding: 30px 45px 60px;
    width: 560px;
  }

  @media (min-width: $width-desktop) {
    padding: 100px 103px;
    width: 1160px;
  }
}

.jury__title {
  @include mobile-h3;

  margin: 0 0 20px;
  text-align: center;

  @media (min-width: $width-tablet) {
    @include desktop-h3;

    margin: 0 0 46px;
  }

  @media (min-width: $width-desktop) {
    text-align: left;
  }
}
