.promo__special-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 278px 400px;
    grid-template-rows: min-content;
    margin-bottom: 35px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(2, 280px);
    margin-bottom: 0;
    margin-right: 40px;
  }
}

.promo__special-color {
  position: relative;
  padding: 30px 30px 34px;
  background-color: $banner-background-color;

  @media (min-width: $width-tablet) {
    padding: 40px 25px;
  }

  @media (min-width: $width-desktop) {
    padding: 40px 45px;
  }
}

.promo__special-img {
  margin: 0 auto;
  width: 320px;
  height: 360px;
  background-color: $background-color-light-extra;
  overflow: hidden;

  @media (min-width: $width-tablet) {
    width: 400px;
    height: 462px;
  }

  @media (min-width: $width-desktop) {
    width: 280px;
    height: 460px;
  }
}

.promo__special {
  margin: 0 auto;
  width: 260px;
  text-align: center;
  color: $text-color-ligth;

  @media (min-width: $width-tablet) {
    width: 228px;
    text-align: left;
  }

  @media (min-width: $width-desktop) {
    width: 190px;
  }
}


.promo__special > h3 {
  @include mobile-h4;
  margin: 0 0 9px;

  @media (min-width: $width-tablet) {
    @include tablet-h4;
    margin: 0 0 20px;
  }

  @media (min-width: $width-desktop) {
    @include desktop-h4;
  }
}

.promo__special > span {
  display: block;
  @include mobile-number-l;
  margin: 0 0 28px;

  @media (min-width: $width-tablet) {
    @include tablet-desktop-number-l;
    margin: 0 0 40px;
  }
}

.promo__special > p {
  display: block;
  @include mobile-text-l;
  margin: 0 0 25px;

  @media (min-width: $width-tablet) {
    @include tablet-desktop-text-l;
    margin: 0 0 40px;
  }
}

.promo__button-special {
  padding: 10px;
  font-family: $font-family-main;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-underline-offset: 7px;
  text-decoration: underline;
  text-transform: uppercase;
  color: $text-color-ligth;

  @media (min-width: $width-tablet) {
    position: absolute;
    left: 15px;
    bottom: 36px;
  }

  @media (min-width: $width-desktop) {
    left: 35px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    text-decoration: none;
    outline: 1px solid $text-color-ligth;
  }

  &:active {
    text-decoration: underline;
    outline: none;
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
