.promo {
  padding: 40px 0;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding: 60px 45px;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    padding: 100px 103px;
  }
}

.promo__title {
  @include mobile-h3;
  margin: 0 auto 40px;

  @media (min-width: $width-tablet) {
    @include tablet-h3;
    margin-bottom: 35px;
  }

  @media (min-width: $width-desktop) {
    @include desktop-h3;
    margin-bottom: 70px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    width: 678px;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    flex-direction: row;
    align-items: flex-end;
    width: 1160px;
  }
}
