.billboard {
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  margin: 0 auto;
  width: 290px;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    justify-content: center;
    padding: 59.5px 45px 30px;
    width: 678px;
  }

  @media (min-width: $width-desktop) {
    padding: 100px 103px;
    width: 1160px;
  }
}
