.contact {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.contact__info-wrapper {
  background-color: $background-color-dark;
}

.contact__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 290px;
  text-align: center;
  gap: 36px;

  &--first {
    @media (width <= 767px) {
      padding: 70px 15px;
    }
  }

  &--second {
    text-align: left;

    @media (width <= 767px) {
      padding: 37px 15px 39px;
      gap: 38px;
    }

    @media (min-width: $width-desktop) {
      border-top: 1px solid #74819c;
    }

    @media (width >= 1367px) {
      border-right: 1px solid #74819c;
      border-bottom: 1px solid #74819c;
    }
  }

  @media (min-width: $width-tablet) {
    margin: 0 auto;
    padding: 60px 45px;
    width: 440px;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    padding: 59px 103px 60px;
    width: 477px;
    text-align: left;
  }
}

.contact-info__title {
  @include mobile-h3;

  margin: 0;
  text-align: left;

  @media (min-width: $width-tablet) {
    @include desktop-h3;

    margin: 0 auto;
    text-align: center;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
    text-align: left;
  }

  &--first {
    color: $text-color-ligth;
  }

  &--second {
    color: $text-color-dark;
  }
}
