.contact-form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin: 0;

  @media (min-width: $width-tablet) {
    flex-direction: row;
    gap: 30px;
    margin: 0 auto;
  }

  @media (min-width: $width-desktop) {
    margin: 0;
  }
}

.contact-form__field {
  
}
