.subscription-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;

  @media (min-width: $width-tablet) {
    gap: 40px;
  }

  @media (min-width: $width-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.subscription-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 197px;
  padding: 43px 39px;
  background-color: $background-color-light;
  border: 7px solid $background-color-light;
  overflow-wrap: break-word;
  transition: 0.3s ease-in-out;

  &:hover,
  &:focus {
    border-image: $button-color-gradient;
    border-image-slice: 1;
  }

  @media (min-width: $width-tablet) {
    gap: 22px;
    padding: 58px;
    width: 250px;
  }

  @media (min-width: $width-desktop) {
    gap: 18px;
    align-items: center;
    width: 230px;
  }
}
